<!DOCTYPE html>
<html>

<head>
    <title>Pranks Limited</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
    <!-- <img src="/niyuktilogo.jpg"> -->
    <div><%= loginFirst %></div>
    <div class="Texting">SignIn to Prank<br>Admin Panel</div>
    <br>
    <br>
    <hr>
    <br><br>
    <form action="/login" method="POST">
        <fieldset>
            <input type="email" name="username" placeholder="Email address"><br>
            <input type="password" name="password" placeholder="Password"><br>
            <input type="submit" value="Sign In" style="background-color: #64c4ed; margin-top: 20px;">
        </fieldset>
        <div class="divbot">
            @ PRANKS Web
        </div>
    </form>
</body>

</html>