<!DOCTYPE html>
<html>

<head>
    <title>NewsLetter</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
    <!-- <img src="/niyuktilogo.jpg"> -->
    <div><%= responemsg %></div>
    <div class="Texting">Welcome to Prank<br>Admin Panel</div>
    <form action="/" method="POST">
        <fieldset>
            <input type="email" name="email" placeholder="Email address"><br>
            <input type="text" name="regno" placeholder="Registration no."><br>
            <input type="submit" value="SendOTP" style="background-color: #64c4ed; margin-top: 20px;">
        </fieldset>
        <div class="divbot">
            @ PRANK Web
        </div>
    </form>
    <script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-app.js"></script>
</body>


</html>